<div class="card p-1">
    <section class="p-1 table-responsive" style="max-height: 100em; overflow-y: scroll">
        <h6 class="d-flex align-items-center mb-1">
            <i class="material-icons text-info mr-2">Collection</i>
            <%= uniqueGames %> Titles
            <div class="d-flex justify-content-right mb-2" style="width: 100%; justify-content: right;">
                <select id="platformFilter" class="form-select" onchange="filterTable(<%= JSON.stringify(userGames) %>)" style="width: 40%;">
                    <option value="all">All</option>
                    <% const uniquePlatforms = [...new Set(userGames.map(game => game.platform))]; %>
                    <% for (const platform of uniquePlatforms) { %>
                        <option value="<%= platform %>">
                            <%= platform %>
                        </option>
                    <% } %>
                </select>
            </div>
        </h6>
        <table class="table-dark table-bordered table-striped" id="gameTable" style="width: 100%;">
            <col style="width:25%">
            <col style="width:60%">
            <col style="width:15%">
            <thead>
                <tr>
                    <th>Platform</th>
                    <th>Game</th>
                </tr>
            </thead>
            <tbody>
                <% const itemsPerPage=20; %>
                <% const totalPages=Math.ceil(userGames.length / itemsPerPage); %>
                <% const currentPage=req.query.page || 1; %>
                <% const startIdx=(currentPage - 1) * itemsPerPage; %>
                <% const endIdx=startIdx + itemsPerPage; %>
                <% const displayedGames=userGames.slice(startIdx, endIdx); %>
                <% let copyCount=1; %>
                <% for (i=0; i<userGames.length; i++) { %>
                    <% console.log(userGames,'userGames beforte fileter') %>
                    <% copyCount = userGames.filter(id=> id === userGames[i].id).length %>
                <tr class="text-secondary" data-platform="<%= userGames[i].platform %>">
                    <td>
                    <%= userGames[i].platform %>
                    </td>
                    <td>
                    <a href="/games/byId/<%= userGames[i].id %>/?_method=PUT" method="POST">
                        <%= userGames[i].game %>
                    </a>
                    </td>
                    <td>
                        <section>
                            <% console.log(userGames[i].platformId) %>
                            <button onclick="addToCollection(<%= user.id %>, <%= userGames[i].id %>, <%= userGames[i].platformId %>, <%= copyCount %>)">+1</button>
                            <button onclick="removeFromCollection(<%= user.id %>, <%= userGames[i].id %>, <%= userGames[i].platformId %>, <%= copyCount %>)">-1</button>`
                        </section>
                    </td>
                </tr>
                <% }; %>
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination-dark text-white">
                <% for (let i=1; i <=totalPages; i++) { %>
                    <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </nav>
    </section>
</div>