<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('styles') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroGrade - Your Retro Gaming Hub</title>
</head>

<body style="padding-top: 60px;">
  <%- include('partials/_navbar') %>
    <%- body %>
      <%- include('partials/_footer') %>
        <%- include('scripts') %>
</body>

</html>