<div class="card p-0 text-white">
  <section class="p-1">
    <h1>Games for <%= platform.name %> (<%= games.length %> games)</h1>
  </section>
</div>
<div style="overflow-y: auto; max-height: 75vh;">
  <div class="card p-1 text-white">
    <section>
      <table style="width:100%; table-layout: fixed;">
        <col style="width:60%"><col style="width:15%"><col style="width:15%"><col style="width:10%">
        <thead>
          <tr>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Copies Owned</th>
            <th style="text-align:center">Wishlist</th>
            <th style="text-align:center">Do Not Want</th>
          </tr>
        </thead>
        <tbody>
          <% games.forEach(game=> { %>
            <tr style="border-bottom: 1px solid aqua;" id="<%= game.id %>">
              <td style="width: 75%">
                <a href="/games/byId/<%= game.id %>/?_method=PUT" method="POST">
                  <%= game.name %>
                </a>
              </td>
              <td class="copies-owned-column">
                <% if (user && user.games_owned && user.games_owned[platform.id] && user.games_owned[platform.id].includes(game.id)) { %>
                  <% let copyCount=1; %>
                  <% copyCount = user.games_owned[platform.id].filter(id=> id === game.id).length %>
                  <%= copyCount %> owned 
                  <button onclick="addToCollection(<%= user.id %>, <%= game.id %>, <%= platform.id %>); loadGames(<%= platform.id %>)">+1</button>
                  <button onclick="removeFromCollection(<%= user.id %>, <%= game.id %>, <%= platform.id %>); loadGames(<%= platform.id %>)">-1</button>
                <% } else { %>
                  <button onclick="addToCollection(<%= user.id %>, <%= game.id %>, <%= platform.id %>); loadGames(<%= platform.id %>)">Add to Collection</button>
                <% } %>
              </td>
              <td><input type="checkbox" <%=user && user.games_wishlist && user.games_wishlist.includes(game.id)
                  ? 'checked' : '' %> ></td>
              <td></td> 
            </tr>
            <% }); %>
        </tbody>
      </table>
    </section>
  </div>
</div>