<div class="container-fluid">
  <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1wh;">
    <div class="col-sm-6 col-lg-3 mb-3" style="position: absolute; left: 0%; top: 0px;">
      <div class="accordion custom-accordion" id="platformAccordion" style="overflow-y: hidden">
        <% let logoUrl;
          sortedPlatforms.forEach((platform, index) => {
          if ((platform.category === 1 || platform.category === 5) && platform.platformLogo) {
          if (platform.platformLogo) {
          logoUrl = platformLogos.find(logo => logo.id === platform.platformLogo)?.url.replace('jpg', 'png');
          if (logoUrl) {
          logoUrl = logoUrl.replace('t_thumb', 't_720p');
          }
          } else {
          logoUrl = '';
          }
          } else {
          logoUrl = '';
          }
          %>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>"
                onclick="loadGames(<%= platform.id %>)">
                <%= platform.name %>
              </button>
            </h2>
            <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>"
              data-bs-parent="#platformAccordion">
              <div class="accordion-body">
                <% if (logoUrl) { %>
                  <img src="http:<%= logoUrl %>" alt="No logo available" class="img-fluid platform-logo">
                  <% } else { %>
                    <div class="placeholder-logo">
                      <%= platform.name %>
                    </div>
                    <% } %>
                  <%= platform.name %>
              </div>
            </div>
          </div>

          <% }) %>
      </div>
    </div>
    <div id="gamesList" class="col-sm-6 col-lg-9 mb-3" style="position: absolute; left: 0%; top: 0px; overflow-y: auto;">
    </div>

  </div>
</div>

<script>
  async function loadGames(platformId) {
    try {
      const response = await fetch(`/platforms/${platformId}/games`);
      const gamesHtml = await response.text();
      document.getElementById('gamesList').innerHTML = gamesHtml;
    } catch (error) {
      console.error('Error loading games:', error);
    }
  }
</script>